.blink {
  animation: blink-animation 1s infinite;
  -webkit-animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-110%);
    transform: translateY(-110%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(150%);
    transform: translateY(150%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@keyframes growIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    height: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    height: 8rem;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
  background-color: #ececec;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
  color: #11223F;
  background: #ececec;
  background-image: url("../img/white_wall_hash.webp");
  background-repeat: repeat;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-right: 10vw;
  padding-left: 10vw;
}

.spacer {
  height: 20vh;
}

.spacer.small {
  height: 10vh;
}

@media screen and (max-width: 736px) {
  .spacer {
    height: 15vh;
  }
  .spacer.small {
    height: 7.5vh;
  }
}
.underlined::after {
  content: "";
  display: block;
  border-top: 2px solid #11223F;
  margin: 0.5em auto;
  width: 10vw;
}

@media screen and (max-width: 736px) {
  .underlined::after {
    width: 20vw;
  }
}
html {
  font-size: 10px;
}

body {
  -webkit-text-size-adjust: none;
  color: #11223F;
  font-family: "Bitter", serif;
  font-weight: 100;
  line-height: 1;
}

.section-header {
  flex-basis: 100%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

span {
  line-height: 1.6;
}

@media screen and (min-width: 1280px) {
  body {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  span {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1280px) {
  body {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 3.8rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  span {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 736px) {
  body {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  span {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 736px) {
  html, body {
    min-width: 320px;
  }
}
.loadin {
  opacity: 0;
  transform: translateY(45px);
  transition: transform 0.6s, opacity 0.9s;
}
.loadin.loaded {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s;
}

#welcome {
  height: 100vh;
  align-items: center;
  padding: 0;
  background-image: url("../img/village_watercolor_2550x1440.webp");
  background-repeat: no-repeat;
  background-size: auto 95vh;
  background-position: center;
  position: relative;
}

.header-index {
  text-align: center;
  flex-basis: 100%;
}

.header-index_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 21rem;
  overflow: hidden;
}

.header-index_title h1 {
  font-family: "Tangerine";
  font-weight: 400;
  font-size: 20rem;
  color: white;
  -webkit-animation: slideUp 0.5s cubic-bezier(0.52, 0.12, 0.46, 1.1) backwards;
  animation: slideUp 0.5s cubic-bezier(0.52, 0.12, 0.46, 1.1) backwards;
  animation-delay: 250ms;
}

.header-index div:nth-last-child(2) h1 {
  animation-delay: 350ms;
}

.header-index_subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5rem;
  overflow: hidden;
  margin-top: 2vw;
}

.header-index_subtitle h2 {
  font-weight: 200;
  font-size: 4rem;
  color: white;
  -webkit-animation: slideDown 500ms cubic-bezier(0.52, 0.12, 0.46, 1.1) backwards;
  animation: slideDown 500ms cubic-bezier(0.52, 0.12, 0.46, 1.1) backwards;
  animation-delay: 1s;
}

.heart {
  color: #e63946;
  font-size: 8rem;
  -webkit-animation: growIn 1s cubic-bezier(0.52, 0.12, 0.46, 1.1) backwards;
  animation: growIn 500ms cubic-bezier(0.52, 0.12, 0.46, 1.1) backwards;
  animation-delay: 1s;
  padding: 0 3vw;
}

#scrolltip {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-animation: fadeIn 1s ease-in backwards;
  animation: fadeIn 1s ease-in backwards;
  animation-delay: 2.5s;
}

#scrolltip span {
  font-size: 1.2rem;
  color: black;
}

#scrolltip span:not(.blink) {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.header-rabbits {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 35rem;
  width: 35rem;
  background-image: url("../img/rabbitz.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0 -15px 7px -7px #ececec inset;
  -webkit-animation: slideRight 1s cubic-bezier(0.52, 0.12, 0.46, 1.1);
  animation: slideRight 1s cubic-bezier(0.52, 0.12, 0.46, 1.1);
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}

@media screen and (max-width: 736px) {
  .header-rabbits {
    height: 15rem;
    width: 15rem;
  }
}
#intro-blurb {
  padding: 0;
  margin: 0 30vw;
  display: flex;
  flex-direction: row;
  text-align: left;
}

#intro-blurb h2 {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1280px) {
  #intro-blurb {
    margin: 0 10vw;
  }
  #intro-blurb span {
    text-align: center;
  }
}
#venue {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.venue-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 5vh;
  max-width: 50%;
}

.venue-text span:not(:first-child) {
  margin-top: 2rem;
}

#venue .button-map {
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.5rm;
  color: #11223F;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 10rem;
  border: 1px solid #11223F;
  transition: 0.3s;
}

#venue .button-map:hover {
  color: white;
  background: #F4A259;
  border: 1px solid #ececec;
}

.venue-image {
  width: 50%;
  margin: 0 auto;
}

.venue-image img {
  width: 75%;
}

@media screen and (max-width: 1280px) {
  #venue h1 {
    order: 1;
  }
  .venue-text {
    margin-top: 2.5vh;
    max-width: unset;
    order: 3;
  }
  .venue-text span {
    text-align: center;
  }
  .venue-text .button-map {
    margin: 2rem auto;
  }
  .venue-image {
    order: 2;
    width: 100%;
  }
  .venue-image img {
    width: 100%;
  }
}
#event {
  column-gap: 1vw;
  align-items: stretch;
}
#event .square-text-container {
  flex: 1;
  max-width: 30vw;
  text-align: center;
  border: 1px solid #F4A259;
  padding: 2rem;
}
#event .square-text-container img {
  max-width: 100%;
}
#event .square-text-container h1 {
  font-size: 3.5rem;
  font-weight: 200;
  margin-bottom: 1rem;
}
#event .square-text-container .subheader {
  display: block;
  font-size: 2.5rem;
  font-weight: 200;
  color: #F4A259;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
#event .square-text-container .subheader sup {
  text-transform: lowercase;
}
#event .square-text-container span {
  font-size: 2.8rem;
  line-height: 1.4;
}
#event .postscript {
  margin-top: 5rem;
  font-size: 2.5rem;
  line-height: 1.4;
  text-align: center;
}
#event .fa-star {
  font-size: 1rem;
  animation: glitter 2s linear 0s infinite normal;
  -webkit-animation: glitter 2s linear 0s infinite normal;
}

@media screen and (max-width: 1280px) {
  #event {
    display: flex;
    flex-direction: column;
    column-gap: unset;
    row-gap: 2.5vh;
  }
  #event .square-text-container {
    max-width: 90vw;
  }
}
@media screen and (max-width: 736px) {
  #event .square-text-container h1 {
    font-size: 3rem;
  }
  #event .square-text-container span {
    font-size: 2rem;
  }
}
@keyframes glitter {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
    color: #cdb4db;
  }
  25% {
    transform: scale(0.5) rotate(90deg);
    opacity: 0;
    color: #ffc8dd;
  }
  50% {
    transform: scale(1) rotate(180deg);
    opacity: 1;
    color: #ffafcc;
  }
  75% {
    transform: scale(0.5) rotate(270deg);
    opacity: 0;
    color: #bde0fe;
  }
  100% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
    color: #a2d2ff;
  }
}
#travel_lodging {
  column-gap: 2vw;
  align-items: stretch;
}
#travel_lodging .square-text-container {
  flex: 1;
  min-width: 30vw;
  max-width: 40vw;
  padding: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
#travel_lodging .square-text-container h2 {
  flex-basis: 100%;
  font-size: 6rem;
  color: #11223F;
  text-align: center;
  margin-bottom: 5rem;
}
#travel_lodging .square-text-container a {
  color: #11223F;
}
#travel_lodging .square-text-container a:hover {
  color: #F4A259;
}
#travel_lodging .postscript {
  flex-basis: 100%;
  margin-top: 5rem;
  text-align: center;
}
#travel_lodging .postscript span {
  display: inline-block;
  max-width: 25%;
  font-size: 2.2rem;
  line-height: 1.4;
  text-align: center;
  padding: 4rem;
  border: 1px solid #F4A259;
}

@media screen and (max-width: 1280px) {
  #travel_lodging {
    row-gap: 5vw;
  }
  #travel_lodging .square-text-container {
    flex-basis: 100%;
    min-width: unset;
    padding: 0;
  }
  #travel_lodging .square-text-container h2 {
    font-size: 5rem;
  }
  #travel_lodging .square-text-container span {
    font-size: 2.3rem;
  }
  #travel_lodging .postscript span {
    max-width: unset;
  }
}
@media screen and (max-width: 736px) {
  #travel_lodging .square-text-container {
    max-width: unset;
  }
}
#activities {
  padding: 0;
  margin: 0 10vw;
  max-width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 2vw;
}

#activities .list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#activities h2 {
  flex-basis: 100%;
  font-size: 6rem;
  color: #11223F;
  text-align: left;
  margin-bottom: 5rem;
}
#activities li {
  font-size: 2.5rem;
  font-weight: 100;
  line-height: 1.6;
}
#activities li:not(:last-child) {
  margin-bottom: 1rem;
}
#activities a {
  color: #11223F;
  text-decoration-color: lightgrey;
}
#activities a:hover {
  color: #F4A259;
  text-decoration-color: lightgrey;
}

@media screen and (max-width: 736px) {
  #activities {
    row-gap: 5vw;
  }
  #activities li {
    font-size: 2rem;
  }
}
.js-form {
  margin: 0 auto;
  width: 25vw;
}

@media screen and (max-width: 736px) {
  .js-form {
    width: 100%;
  }
}
.deadline {
  flex-basis: 100%;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.js-form h5 {
  margin: 4rem 0 2rem;
  font-weight: 200;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.js-form input {
  width: 100%;
  font-size: 1.5rem;
  box-sizing: border-box;
  border: none;
  padding: 2rem;
}

.js-form-rsvp-option,
.js-form-hotel-option {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.js-form button {
  flex: 1;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #11223F;
  background-color: #ececec;
  color: #11223F;
  padding: 1.5rem 3rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
  transition: 0.6s;
}

.js-form .js-form-hotel[data-value=yes].is_active,
.js-form .js-form-hotel[data-value=yes]:hover,
.js-form .js-form-rsvp[data-value=yes].is_active,
.js-form .js-form-rsvp[data-value=yes]:hover {
  border: 1px solid #4CAF50;
  color: white;
  background-color: #4CAF50;
}

.js-form .js-form-hotel[data-value=no].is_active,
.js-form .js-form-hotel[data-value=no]:hover,
.js-form .js-form-rsvp[data-value=no].is_active,
.js-form .js-form-rsvp[data-value=no]:hover {
  border: 1px solid #BE513D;
  color: white;
  background-color: #BE513D;
}

.js-form .js-form-hotel-extras,
.js-form .js-form-rsvp-extras {
  display: none;
}

.js-form .js-form-hotel-extras.is_active,
.js-form .js-form-rsvp-extras.is_active {
  display: block;
}

.js-form-hotel-extras span {
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.wrong_input {
  border: 2px solid #BE513D !important;
}

.js-form .js-form-submit {
  width: 100%;
  margin: 0;
  margin-top: 2.5rem;
  padding: 2rem;
  border: none;
  background-color: #F4A259;
  color: white;
}

.form-submitted {
  background-color: #4CAF50 !important;
  font-weight: 200 !important;
}
