// Breakpoints (tablet, mobile)
$widescreen:        1920px;
$tablet:            1280px;
$mobile:            736px;

// Global Margins
$hmargin: 5vw;

// Colors
$highlight_color:  #F4A259;  // Light Orange
$bg_color_base:  #ececec;  // Light gray
$font_color_base: #11223F; // Dark Gray
