#intro-blurb {
  padding: 0;
  margin: 0 30vw;

  display: flex;
  flex-direction: row;

  text-align: left;
}

#intro-blurb h2 {
  font-weight: 400;
  
  text-align: center;
  text-transform: uppercase;
  
  letter-spacing: 0.5rem;
  
  margin-bottom: 2rem;
}

@media screen and (max-width: $tablet) {
  #intro-blurb {
    margin: 0 10vw;
  }

  #intro-blurb span {
    text-align: center;
  }
}