#venue {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: flex-start;
  justify-content: space-between;
}

.venue-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin-top: 5vh;
  max-width: 50%;
}

.venue-text span:not(:first-child) {
  margin-top: 2rem;
}

#venue .button-map {
  display: inline-block;
  margin-top: 2rem;

  font-size: 1.5rem;
  font-weight: 400;
  
  letter-spacing: 0.5rm;
  color: $font_color_base;

  text-transform: uppercase;
  text-decoration: none;

  padding: 2rem 10rem;
  border: 1px solid $font_color_base;
  
  transition: 0.3s;  // for hover
}

#venue .button-map:hover {
  color: white;
  background: $highlight_color;
  border: 1px solid $bg_color_base;  // invisible
}

.venue-image {
  width: 50%;
  margin: 0 auto;
}

.venue-image img {
  width: 75%;
}

@media screen and (max-width: $tablet) {
  #venue h1 {
    order: 1
  }

  .venue-text {
    margin-top: 2.5vh;
    max-width: unset;
    order: 3;
  }

  .venue-text span {
    text-align: center;
  }


  .venue-text .button-map {
    margin: 2rem auto;
  }

  .venue-image {
    order: 2;
    width: 100%;
  }

  .venue-image img {
    width: 100%;
  }
}